@model Knigochei.ViewModels.BookPageViewModel


@{
    ViewData["Title"] = Model.Book.Title;
}


<div class="container-fluid">
	<div class="row mt-5">
		<div class="col-md-3"></div>

		<div id="item-body" class="col-md-6 p-5">
			<div class="row text-center">
				<div class="col-md-5 w-50" id="cover">
					<img src=@Url.Content(Model.Book.CoverImagePath)>
				</div>
				<div class="col-md-6 " id="description">
					<h3 class="text-center pt-6">@Model.Book.Title</h3>
					<h5 class="text-center"> @Model.Author.FullName </h5>
					<hr>
					<div class="text-center pb-3">
						@for(int i = 0; i < Model.Book.BookRank; i++)
						{
							<i class="bi bi-star-fill"></i>
						}
					</div>
					<p>
						@Model.Book.BookDescription
					</p>
					<button class="p-2 ps-3 pe-3" onclick="AddToCart(@Model.Book.Id)"> <i class="bi bi-plus-circle"></i> Добавить в корзину </button>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6 pt-5"> 
				<h3 class="text-center"> Комментарии:</h3>
				<br>
				<div class="comment row pt-3 pb-2">
					<i class="bi bi-person-circle col-md-2 text-center"></i>
					<div class="col-md-9 pt-2">
						<span> Hey do you think I should read this book? </span> <br>
						<span style="color: grey"> 05.05.2022 </span> 
					</div>
				</div>

				<div class="comment row pt-3 pb-2">
					<i class="bi bi-person-circle col-md-2 text-center"></i>
					<div class="col-md-9 pt-2">
						<span> Of course, definitely. </span> <br>
						<span style="color: grey"> 05.05.2022 </span> 
					</div>
				</div>
				<div class="comment row pt-3 pb-2">
					<i class="bi bi-person-circle col-md-2 text-center"></i>
					<div class="col-md-9 pt-2">
						<span> Hey, this is the best book I've read, of course you should read it! </span> <br>
						<span style="color: grey"> 05.05.2022 </span> 
					</div>
				</div>

				<div class="comment row pt-3 pb-2">
					<i class="bi bi-person-circle col-md-2 text-center"></i>
					<div class="col-md-9 pt-2">
						<span> Hey do you think I should read this book? </span> <br>
						<span style="color: grey"> 05.05.2022 </span> 
					</div>
				</div>
			</div>
			<div class="col-md-3"></div>
		</div>

	</div>
</div>
<br> <br> <br> <br>

<script>

	function AddToCart(bookId) {
			$.ajax({
				url:"/Cart/AddToCart",
				method: "POST",
				data: { "bookId": bookId },
				success: function(data, status) {
					alert("Successfully Added To Cart!")
					let cartUrl = '@Url.Action("Index", "Cart")';
					location.href=cartUrl;
				},
				error: function(error) {
					alert("Failed To Add to Cart! Error: ")
					console.log(error)

				}
				
			})
		}

</script>